<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wxWuliaoLingqu.mapper.WxWuliaoLingquMapper">


<select id="queryKucunByBatchNum" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		SELECT * FROM wx_wuliao_zong_kucun where batch_num=#{param.batchNum}
	</select>
	
</mapper>